@model AsistenciaComedor.Data.Entities.Nivel

@{
    ViewData["Title"] = "Deatalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Nivel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreNivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreNivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> Editar</a> 
    <a asp-action="Index" class="btn btn-success"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
</div>
