@model AsistenciaComedor.Data.Entities.Escuela

@{
    ViewData["Title"] = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingresar datos de la escuela</h2>

<h4>Escuela</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccion" class="control-label"></label>
                <input asp-for="direccion" class="form-control" />
                <span asp-validation-for="direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codigo" class="control-label"></label>
                <input asp-for="codigo" class="form-control" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="direccionRegional" class="control-label"></label>
                <input asp-for="direccionRegional" class="form-control" />
                <span asp-validation-for="direccionRegional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="mySubmit" class="btn btn-default"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</label>
                <input id="mySubmit" type="submit" value="Guardar" class="hidden" />
                <a asp-action="Index" class="btn btn-success"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
            </div>
        </form>
    </div>
</div>


