@model AsistenciaComedor.Models.EstudianteViewModel

@{
    ViewData["Title"] = "Ingresar nuevo estudiante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ingresar datos del estudiante</h2>

<h4>Estudiante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddEstudent">

            <partial name="_Estudiante" />

            <div class="form-group">
                <label for="mySubmit" class="btn btn-default"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</label>
                <input id="mySubmit" type="submit" value="Guardar" class="hidden" />
                <a asp-action="Index" class="btn btn-success"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.mensaje != null)
{
    if (ViewBag.identificador == 1)
    {
        <partial name="_SuccesDialog" />
    }
    else
    {
        <partial name="_ErrorDialog" />
    }

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#myModal').modal('show')

            $('.cerrar').click((e) => {
                window.location.href = '/Estudiante'
            });

            $('.miModal').click((e) => {
                window.location.href = '/Estudiante'
            });
        });
    </script>
}