@model AsistenciaComedor.Data.Entities.Estudiante

@{ ViewData["Title"] = "Detalle de estudiante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle del Estudiante</h2>

@if (Model.Asistencias.Count == 0)
{
    <br />
    <br />
    <h4 class="jumbotron">¡Aún no tiene asistencias al comedor!</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Nivel
                </th>
                <th>
                    Cantidad de asistencias al Comedor Escolar
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.nombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Nivel.nombreNivel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Asistencias.Count)
                </td>
                <td>
                </td>
            </tr>

        </tbody>

    </table>
    <div class="text-right">
        <a asp-action="#" asp-route-id="@Model.Id" class="btn btn-default"><i class="glyphicon glyphicon-print"></i> Imprimir</a>
        <a asp-action="Index" class="btn btn-success"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
    </div>
}



